<form class="" action="/gardens" method="post">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="location" placeholder="location"><br>
  <input type="text" name="garden_type" placeholder="garden type"><br>
  <input type="submit" name="" value="Create Garden">
</form>
