<h3>Create a Garden</h3>

<form class="" action="/gardens" method="post">
  <input type="text" name="garden[name]" placeholder="name"><br>
  <input type="text" name="garden[location]" placeholder="location"><br>
  <input type="text" name="garden[garden_type]" placeholder="garden type"><br>
  <input type="submit" name="" value="Create Garden">
</form>
