<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Sinatra Gardener</title>
  </head>
  <body>
    <div class="navbar">
      <a href="/gardens">Gardens Index</a>
      <% if logged_in?  %>
        <a href="/gardens/new">Make a New Garden</a>
        <a href="/users/<%= current_user.slug %>">My Profile</a>
        <a href="/logout">Log Out</a>
      <% else %>
        <a href="/">Home</a>
      <% end %>
    </div>
    <div class="flash">
      <% if flash[:warning] %>
        <h2 style="color: red"><%= flash[:warning] %></h2>
      <% end %>
      <% if flash[:notice] %>
        <h2 style="color: green"><%= flash[:notice] %></h2>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
